@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  font-size: 18px;
  font-family: "Ubuntu" !important;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(71.66deg, #ffffff -2.97%, #0fa9ff 111.3%);
}

.flex {
  display: flex;
  align-items: center;
}
.active {
  color: tomato;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  /* background-color: rgb(93, 93, 93); */
  width: 98%;
  margin: auto;
  padding: 0.2vh;
  min-height: 100vh;

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}
.dialogForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 10px;
}
.dialogTitle {
  background: linear-gradient(71.66deg, #daf3ff -2.97%, #0fa9ff 111.3%);
  height: 30px;
  padding: 10px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialogFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px;
  margin-top: 0px;
}
.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.flexGap {
  display: flex;
  gap: 1vh;
}

.flexSpaceAround {
  display: flex;
  justify-content: space-around;
}

.flex {
  display: flex;
  align-items: center;
}
#searchContainer {
  box-shadow: 0px 1px 4px -1px #999999;
  border-radius: 5px;
  padding: 5px;
  height: 29px;
}

#searchField {
  border: 0px;
  height: 28px;
  outline: none;
}
.card0 {
  box-shadow: 0px 1px 4px -1px #999999;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}

.pointer {
  cursor: pointer;
}

.adminPanel {
  margin-top: 12px;
  width: 200px;
  /* cursor: pointer; */
  height: 75vh;
}

.adminPanel div {
  padding-left: 10px;
}

.icon {
  font-size: 17px !important;
  cursor: "pointer" !important;
}

.icon:hover {
  color: aqua;
  cursor: pointer;
}

.hover:hover {
  color: rgb(231, 63, 63);
  cursor: pointer;
}

.mobileView {
  display: none !important;
}

.deskView {
  display: block !important;
}

@media (max-width: 70rem) {
  .mobileView {
    display: flex !important;
  }

  .deskView {
    display: none !important;
  }
  #cartBox {
    height: 30vh !important;
    overflow-y: "auto" !important;
  }
}

@media (max-width: 70rem) {
  #cart {
    display: none;
  }
  #responsiveCart {
    display: block !important;
  }

  #cartDiv {
    width: 100% !important;
  }

  #itemList {
    width: 100% !important;
  }
}

@media (max-width: 70rem) {
  #toHide {
    display: none !important;
  }
  .adminPanel {
    min-width: 30px !important;
  }
  .adminPanel div {
    padding-left: 5px !important;
  }
  .navKeys {
    display: none !important;
  }
}
