@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

body {
  background: rgb(37, 37, 37);
  color: white;
  font-family: "Ubuntu" !important;
}

.header {
  background: black;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pointer{
  cursor: pointer;
}
